#Base-N and Binary

We typically look at numbers in base-10 (and use digits 0-9) which looks like this:

In [3]:
132.8 == 1*(10**2) + 3*(10**1) + 2*(10**0) + 8*(10**-1)

True

And sometimes we'll look at numbers in binary form (base-2 which uses digits 0-1) and looks like this:

In [6]:
13 == 1*(2**3) + 1*(2**2) + 0*(2**1) + 1*(2**0)
#so 13(base 10) is the same thing as 1101(base 2)
print(bin(13))

0b1101

No matter the base though, it's fairly simple to convert between them.

In [10]:
#45(base 10) == 101101(base 2)
45 == 1*(2**5) + 0*(2**4) + 1*(2**3) + 1*(2**2) + 0*(2**1) + 1*(2**0)     

#121(base 3) == 16(base 10)
1*(3**2) + 2*(3**1) + 1*(3**0) == 1*(10**1) + 6*(10**0)

True

We can also add and multiply in binary exacly the same way we do in base 10. We will just only use 0 and 1 as our digits.

In [17]:
#100101 + 10001 == 110110
1*(2**5) + 0*(2**4) + 0*(2**3) + 1*(2**2) + 0*(2**1) + 1*(2**0) + 1*(2**4) + 0*(2**3) + 0*(2**2) + 0*(2**1) + 1*(2**0) == 1*(2**5) + 1*(2**4) + 0*(2**3) + 1*(2**2) + 1*(2**1) + 0*(2**0)

#And we can double check our answers in base-10 if we want:
1*(2**5) + 0*(2**4) + 0*(2**3) + 1*(2**2) + 0*(2**1) + 1*(2**0) == 37
1*(2**4) + 0*(2**3) + 0*(2**2) + 0*(2**1) + 1*(2**0) == 17
37 + 17 == 54
54 == 1*(2**5) + 1*(2**4) + 0*(2**3) + 1*(2**2) + 1*(2**1) + 0*(2**0)

#100101 * 10001 == 1001110101
37 * 17 == 629
print(bin(629))

0b1001110101

#Floating Point Numbers

Floats have 3 important parts: 
- The sign indicator (s) which tells us whether a number is positive or negative
- The characteristic or exponent (e) which is the power of 2
- The fraction (f) which is the coefficient of the exponent

Floats are represented as: 
n = (-1)^s * 2^(e-1023) * (1+f)

Floating numbers are a great way to handle and represent very large and very small numbers. 

There are gaps between numbers that will increase as the numbers increase. If a number falls inside of the gap, python will assign it the number closest to it.

In [20]:
import sys
sys.float_info
import numpy as np

np.spacing(1e6) #this will find the gap when the number is 1e6

#We can see how python will assign the closest value by looking at the following equation. It will return true because the value is within the gap and closest to 1e6
1e6 == (1e6 + np.spacing(1e6)/3)

True

There are a few special cases when using floating point numbers, specifically when e=0 and when e=2047

When e=0, the leading 1 in the fraction becomes a 0 and this is called a subnormal number. 

When e=2047 and f is nonzero, we get an undefined number. 

When e=2047, f=0, and s=0 we get positive infinity.

And when e=2-47, f=0, and s=1 we get negative infinity.

In [23]:
#We can get the largest number possible with floats with the following equation:

largest = (2**(2046-1023))*((1 + sum(0.5**np.arange(1,53))))
print(largest)

1.7976931348623157e+308

In [26]:
#We can easily double check our answer
sys.float_info.max

1.7976931348623157e+308

In [24]:
#Similarly, we get the smallest number possible with floats with this:
smallest = (2**(1-1023))*(1+0)
print(smallest)

2.2250738585072014e-308

In [27]:
#We can double check our answer again
sys.float_info.min

2.2250738585072014e-308

Numbers bigger than the maximum are considered overflow and smaller than the minimum are considered underflow.

In [28]:
sys.float_info.max + sys.float_info.max #for example, this results in overflow.

inf

#Round Off Errors

There are 3 common types of errors: 
- Round-Off Error: Difference between the real number and an approximation. 
- Truncation Error: This is made by truncating an infinite sum and approximating it by a finite sum.
- Representation Error: A common round-off error with floating point numbers. 

Since floats are approximations, they result in a lot of small errors.

In [37]:
#When plugged into a regular calculator, 8.3 - 3.726 would result in 4.574

#But when we put it in python, we can see the error clearly. 

8.3 - 3.726

4.574000000000001

In [38]:
8.3 - 3.726 == 4.574 #And this will return false because of the error.

False

However we can use the round() function to account for these errors

In [39]:
round(8.3-3.726,5) == round(4.574,5) #This now returns true.

True

When we do multiple calculations we run the risk of accumulating errors. By only adding then subtracting 1/3 once, the error is nonexistent.

In [41]:
1 + 1/3 - 1/3

1.0

But if we run the same calculation 100 times, we see the error start to add up.

In [45]:
def add_and_subtract(iterations):
  answer = 1

  for i in range(iterations):
    answer += 1/3

  for i in range(iterations):
    answer -= 1/3

  return answer

add_and_subtract(100)

1.0000000000000002

If we run the same process even more times, the error gets even bigger

In [46]:
add_and_subtract(10000)

1.0000000000001166